
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    
}

p {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    margin-bottom: 20px;
    box-shadow: #f5f5f5;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    height: 10;
}


.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.photo {
    margin: 100px;
    cursor: pointer;
}

.photo img {
    width: 30%;
    height: auto;
    border-radius: 5px;
    transition: transform 0.3s ease;
}

.photo img:hover {
    transform: scale(1.1);
}


